@model Hangman.Models.Score

<table border="1">
    <tr>
        <th>Won</th>
        <th>Lost</th>
        <th>LettersGussed</th>
        <th>WordsGussed</th>
    </tr>
    <tr>
        <td>@Model.Won</td>
        <td>@Model.Lost</td>
        <td>@Model.LettersGussed</td>
        <td>@Model.WordsGussed</td>
    </tr>
</table>

